data/s2-corpus-000.gz
terraform/terraform
terraform/terraform.tfstate
terraform/.terraform
terraform/terraform.tfvars
terraform/vars.tfvars
terraform/terraform.tfstate.backup
serverless/node_modules
serverless/db-api/.gitignore
